header{
  width: 100%;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

header > div > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

header > div > ul > li {
  font-size: 36px;
}

@media only screen and (min-width: 768px){
  header > div > ul {
    flex-direction: row;
  }

  header > div > ul > li {
    font-size: 18px;
    margin: 0 8px;
  }
}
