* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  max-width: 100vw;
  background-color: #A6A68C;
}