@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,*::before,*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  margin:0;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #A6A68C;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
  display: flex;
}

/* HERO START */
#hero {
  margin-top: 64px;
}

#heroImg {
  background-image: url('/static/girl-with-dress.png');
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#heroText {
  margin: 16px 5vw 64px 5vw;
}

.buttonHero {
  margin-bottom: 32px;
  margin-top: 2vh;
}

#heroText > h1 {
  margin: 16px 0px;
  font-size: 32px;
}

.button {
  background: none;
  border: 1px solid #FFF;
  padding: 15px 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #FFF;
  color: #000; /* Fallback para navegadores antigos */
  color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
/* HERO END */

/* IMAGE GRID START */

#imageGrid {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

#imageGrid > h3 {
  font-size: 48px;
  margin-bottom: 16px;
  margin-left: 16px;
}

#imagesSection {
  display: flex;
  flex-direction: column;
}

.imageData > img {
  width: 100%;
}

.imageText {
  margin-bottom: 32px;
  padding: 16px;
}
.imageText > h2 {
  margin-top: 16px;
}

/* IMAGE GRID END */

/* DISCOUNT SECTION START */
#discountSection {
  display: flex;
  flex-direction: column-reverse;
  height: 50vh;
}

#discountSection > img {
  width: 100%;
  object-fit: cover;
}

#discountSectionText {
  background-color: #F32838;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw;
}

#discountSectionText > h3 {
  font-size: 36px;
}

#discountSectionText > span {
  text-align: center;
  margin: 16px 0px;
}
/* DISCOUNT SECTION END */

/* FOOTER START */

footer {
  display: flex;
  flex-direction: column;
  padding: 64px;
  justify-content: center;
  align-items: center;
}

footer > ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 16px;
}

footer > ul > li {
  cursor: pointer;
}

footer > img {
  height: 32px;
  object-fit: cover;
  margin-top: 8px;
}

footer > div {
  margin-bottom: 32px;
  text-align: center;
}

/* FOOTER END */

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  /* HERO START */
  #hero {
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }

  #heroImg {
    height: 70vh;
    width: 100%;
  }

  #heroText > button {
    margin: 16px 0px;
  }
  /* HERO END */

  /* IMAGE GRID START */

  #imagesSection {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #imageGrid > h3 {
    font-size: 48px;
    margin-bottom: 16px;
    margin-left: 5vw;
  }

  /* IMAGE GRID END */

  /* DISCOUNT SECTION START */

  #discountSection {
    flex-direction: row;
    margin-top: 64px;
  }

  #discountSection > img, #discountSection > div {
    flex-grow: 1;
    width: 50%;
  }

  #discountSectionText {
    height: 100%;
    max-width: 40vw;
  }

  #discountSectionText > span {
    text-align: left;
  }

  #discountSectionText > button {
    margin-top: 24px;
  }

  /* DISCOUNT SECTION END */

  /* FOOTER START */

  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer > ul > li {
    margin: 0 8px;
    padding: 8px;
  }

  footer > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer > img {
    margin-top: 0px;
  }

  /* FOOTER END */
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
}