@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,*::before,*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  margin:0;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #A6A68C;
  min-height: 100vh;
  box-sizing: border-box;
}

/* HERO START */
#hero {
  margin-top: 64px;
  display: flex;
}

#heroImg {
  background-image: url('/static/girl-with-dress.png');
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#heroText {
  margin: 16px 5vw 64px 5vw;
}

.buttonHero {
  margin-bottom: 32px;
  margin-top: 2vh;
}

#heroText > h1 {
  margin: 16px 0px;
  font-size: 32px;
}

.button {
  background: none;
  border: 1px solid #FFF;
  padding: 15px 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #FFF;
  color: #000; /* Fallback para navegadores antigos */
  color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
/* HERO END */

/* IMAGE GRID START */

#imageGrid {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

#imageGrid > h3 {
  font-size: 48px;
  margin-bottom: 16px;
  margin-left: 16px;
}

#imagesSection {
  display: flex;
  flex-direction: column;
}

.imageData > img {
  width: 100%;
}

.imageText {
  margin-bottom: 32px;
  padding: 16px;
}
.imageText > h2 {
  margin-top: 16px;
}

/* IMAGE GRID END */

/* DISCOUNT SECTION START */
#discountSection {
  display: flex;
  flex-direction: column-reverse;
}

#discountSection > img {
  width: 100%;
  object-fit: cover;
}

#discountSectionText {
  background-color: #F32838;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw;
}

#discountSectionText > h3 {
  font-size: 36px;
}

#discountSectionText > span {
  text-align: center;
  margin: 16px 0px;
}
/* DISCOUNT SECTION END */

/* FOOTER START */

footer {
  display: flex;
  flex-direction: column;
  padding: 64px;
  justify-content: center;
  align-items: center;
}

footer > ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 16px;
}

footer > ul > li {
  cursor: pointer;
}

footer > img {
  height: 32px;
  object-fit: cover;
  margin-top: 8px;
}

footer > div {
  margin-bottom: 32px;
  text-align: center;
}

/* FOOTER END */

/* COLECTION HERO START */

#seasonHero {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 64px;
}

#seasonHero > h1 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: -15px;
}

#seasonHero > h5 {
  font-size: 18px;
  font-weight: normal;
}

/* COLECTION HERO END */

/* COLECTION ROW START */

.cardSeason {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.cardSeason > h4 {
  margin-top: 16px;
  margin-bottom: 8px;
}

/* COLECTION ROW END */

/* FREQUENT QUESTIONS START */

#frequentQuestsSection {
  margin-bottom: 64px;
}

#frequentQuestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  padding: 16px;
}

#frequentQuestions > h1 {
  font-size: 36px;
  font-weight: normal;
}

#frequentQuestions > details {
  background-color: pink;
  width: 100%;
  margin-top: 24px;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#frequentQuestions > details > p {
  margin-top: 16px;
}

#callFAQ {
  display: none;
}

/* FREQUENT QUESTIONS END */

/* SHOP INFO START */
#shopInfo {
  display: flex;
  flex-direction: column;
}

#shopInfoImg {
  width: 100%;
  object-fit: cover;
}

#shopInfo > article {
  padding: 36px;
}

#shopInfo > article > p {
  margin-top: 16px;
}
/* SHOP INFO END */

/* FAMILY START */
#familyInfo {
  display: flex;
  flex-direction: column;
}

#familyImg {
  width: 100%;
  object-fit: cover;
}

#familyInfo > article {
  padding: 36px;
}

#familyInfo > article > p {
  margin-top: 16px;
}
/* FAMILY END */

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  /* HERO START */
  #hero {
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }

  #heroImg {
    height: 70vh;
    width: 100%;
  }

  #heroText > button {
    margin: 16px 0px;
  }
  /* HERO END */

  /* IMAGE GRID START */

  #imagesSection {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #imageGrid > h3 {
    font-size: 48px;
    margin-bottom: 16px;
    margin-left: 5vw;
  }

  /* IMAGE GRID END */

  /* DISCOUNT SECTION START */

  #discountSection {
    flex-direction: row;
    margin-top: 64px;
  }

  #discountSection > img, #discountSection > div {
    flex-grow: 1;
    width: 50%;
  }

  #discountSectionText {
    height: 100%;
    max-width: 40vw;
  }

  #discountSectionText > span {
    text-align: left;
  }

  #discountSectionText > button {
    margin-top: 24px;
  }

  /* DISCOUNT SECTION END */

  /* FOOTER START */

  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer > ul > li {
    margin: 0 8px;
    padding: 8px;
  }

  footer > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer > img {
    margin-top: 0px;
  }

  /* FOOTER END */

  /* COLECTION ROW START */

  .rowCardSeason {
    display: flex;
    flex-direction: row;
  }

  .cardSeason > img {
    width: 100%;
  }
  /* COLECTION ROW END */

  /* FREQUENT QUESTIONS START */

  #frequentQuestions {
    flex-grow: 1;
    height: 100%;
    margin-bottom: 64px;
  }

  #frequentQuestions > h1 {
    font-size: 48px;
    font-weight: normal;
    text-align: center;
  }

  #callFAQ {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #callFAQ > h6 {
    font-size: 36px;
    width: 60%;
    text-align: center;
  }

  #frequentQuestsSection {
    display: flex;
    flex-direction: row;
    margin-top: 128px;
    justify-content: center;
    align-items: center;
  }

  #frequentQuestions > details {
    width: 80%;
    max-width: 450px;
  }

  /* FREQUENT QUESTIONS END */

  /* SHOP INFO START */
  #shopInfo {
    padding: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #shopInfo > article > h2 {
    font-size: 48px;
  }

  #shopInfoImg {
    width: 50vw;
  }

  /* SHOP INFO END */

  /* FAMILY START */
  #familyInfo {
    padding: 36px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  #familyInfo > article > h2 {
    font-size: 48px;
  }

  #familyImg {
    width: 50vw;
  }

  /* FAMILY END */
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
}