@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
}

* {
  margin:0;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #A6A68C;
  min-height: 100vh;
}

main {
  display: flex;
}

/* HERO START */
#hero {
  margin-top: 64px;
}

#heroImg {
  background-image: url('/static/girl-with-dress.png');
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

article {
  background: lightcoral;
}

#heroText {
  margin: 0 5vw;
}

#heroText > h1 {
  margin: 16px 0px;
  font-size: 32px;
}

#heroText > button {
  background: none;
  border: 1px solid #FFF;
  padding: 15px 30px;
  margin: 16px 0px 64px 0px;
}
/* HERO END */

/* IMAGE GRID START */

#imageGrid {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

#imageGrid > h3 {
  font-size: 48px;
  margin-bottom: 16px;
  margin-left: 16px;
}

#imagesSection {
  display: flex;
  flex-direction: column;
}

.imageData > img {
  width: 100%;
}

.imageText {
  margin-bottom: 32px;
  padding: 16px;
}
.imageText > h2 {
  margin-top: 16px;
}

/* IMAGE GRID END */

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  /* HERO START */
  #hero {
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  #heroImg {
    height: 70vh;
    width: 100%;
  }

  #heroText > button {
    margin: 16px 0px;
  }
  /* HERO END */

  /* IMAGE GRID START */

  #imagesSection {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #imageGrid > h3 {
    font-size: 48px;
    margin-bottom: 16px;
    margin-left: 5vw;
  }

  /* IMAGE GRID END */
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
}